.btn {
    padding: 1em;
    border-radius: 12px;
    border-color: transparent;
    min-width: 8vw;
}

.btn-like {
    color: var(--color-black);
    background: none;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    cursor: pointer;
    max-height: 60px;
    width: 10rem;
    border: 2px solid var(--color-black);
    padding: 10px;
    transition: 0.7s;
}

.btn-like:hover {
    transform: scale(1.05);
    background-color: red;
    color: white;
}


.btn-blue {
    background-color: var(--color-blue);
    color:aliceblue;
    filter: contrast(1.75);
}

.btn-white {
    background-color: var(--color-light);
}

.btn-search {
    border-left: 1px solid var(--color-black);
}

.order-btn {
    grid-column: 1/-1;
    justify-self: right;
}

.main-content a {
    color: var(--color-black);
    background: white;
    border: 2px solid black;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    max-height: 60px;
    width: 10rem;
    margin: 10px 10px 0 0;
    padding:10px;
}
