
/* layout */

body {
    margin: 0 auto;
    max-width: 95%;
    /* overflow-x: hidden; */
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(5vh, auto);
    /* background-color: cyan; */
}

header {
    /* position: fixed;
    left:0;
    right:0; */
    background-color: #121212;
    grid-column: span 4;
    /* min-height: 10vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(6vh, 10vh);
}

.logo {
    /* background-color: coral; */
    justify-self: center;
}

.logo img {
    max-height: 100%;
}
nav {
    /* grid-column: span 2; */
     /* background-color: blueviolet; */

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    /* grid-auto-rows: minmax(3vh, 5vh); */
    color: var(--color-light);
}
.nav-item {
    justify-self: center;
    align-self:center;
}

.nav-item a {
    color: var(--color-light);
}
.nav-item img {
    max-height: 100%;
}

.banner {
    grid-column: span 4;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-rows: minmax(15vh, 20vh);
    background: no-repeat center url("../images/banner-original.jpg");
    background-size: cover;
}

h1 {
    font-size: 10vh;
}

.body-products h1 {
    text-align: left;
}

.form-search .form-grid-container {
    grid-template-columns: 1fr 3em;
    grid-gap: 0;
    background-color: var(--color-black);
    opacity: 0.7;
    border-radius: 12px;
    padding: 1em;
    text-align: center;

}

.input-search {
    padding:8px;
    border-radius: 0;
}
.btn-search {
    border-left: 1px solid var(--color-black);
}

main {
    grid-column: span 4;
}

.body-products {
    text-align: center;
}
/* .body-products main {
    max-width: 90%;
    margin: 0 auto;
} */

.action {
    margin-top: 1.5em;
    grid-column: 1/-1;
    /* grid-row: span 2; */
    min-height:20vh;
    /* background-color: chocolate; */
    text-align: center;
}

.header-all-products {
    margin: 5px;
    font-size: 4vh
}

.action p {
    margin-bottom: 1em;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: 1fr auto auto; */
    /* grid-column-gap: 1em; */
}


.main-content .content {
    /* background-color: aquamarine; */
    position: relative;
    bottom: -50%;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.discount,
.discover  {
    padding: 0px 10px;
}


.discount img,
.discover img {
    width: 100%;
}


.btn-like {
    color: var(--color-black);
    background: none;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    height: 60px;
    width: 140px;
    border: 2px solid var(--color-black);
    margin: 10px 10px 0 0;
    padding:10px;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5em;
    margin-top: 1em;
}

.all-products .item {
    margin-bottom: 1em;
    border: 1px solid #070606;
}

.all-products img {
    max-width: 100%;
    width: 100%;
}

/* products page */
.item-description {
    text-align: center;
}

/* Single porduct */
.single-product  {
    max-width: 50%;
    margin: 0 auto;
}
.single-product img {
    max-width: 100%;
}

.body-single-product h1 {
    text-align: center;
    font-size: 5vh;
}

.form-contact .form-grid-container {
    grid-template-columns: minmax(min-content, 300px);
}

.form-container .title {
    justify-self: center;
}