/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border:0;
    outline:0;
}

:root {
    --color-light: #f1f6fa;
    --color-black: #070606;
    --color-gray: #e5e5e5;
    --color-blue:#3182ce;
}

.hidden {
    display: none;
}
.btn {
    padding: 1em;
    border-radius: 12px;
    border-color: transparent;
    min-width: 8vw;
}
.btn-like {
    color: var(--color-black);
    background: none;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    max-height: 60px;
    width: 10rem;
    border: 2px solid var(--color-black);
    margin: 10px 10px 0 0;
    padding:10px;
}


.btn-blue {
    background-color: var(--color-blue);
    color:aliceblue;
}

.btn-white {
    background-color: var(--color-light);
}

.bg-gray {
    background-color: var(--color-gray);
}


input,
textarea {
    border-color: transparent;
    background-color: var(--color-light);
}

.form-grid-container {
    display:grid;
    grid-gap: 1em;
    padding: 1em;
    justify-content: center;
}

input,
textarea {
    padding: 10px;
    border-radius: 20px;
}

input::placeholder,
textarea::placeholder {
    text-align: center;
    opacity: .7;
    color: hsl(240, 0%, 49%);
}
