/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border:0;
    outline:0;
}

:root {
    --color-light: #f1f6fa;
    --color-black: #070606;
    --color-gray: #e5e5e5;
    --color-blue:#3182ce;
    --color-placeholder: hsl(240, 0%, 49%);
    --auto-grid-min-size: 320px;
    --header-row-min-size: 5vh;
    --header-row-max-size: 10vh;
}

.hidden {
    display: none;
}

.hidden-text {
    display:block;
    text-indent: -99999em;
    height: 0;
    width: 0;
}

.bg-gray {
    background-color: var(--color-gray);
}
