/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* layout */

.container {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(5vh, auto);
    background-color: cyan;
}

header {
    background-color: gold;
    grid-column: span 4;

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-auto-rows: minmax(3vh, 5vh);
}

header .signin,
header .contact {
    justify-self: end;
    margin-left: 1em;
}
nav {
    grid-column: span 4;
    background-color: blueviolet;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(3vh, 5vh);
    align-items: center;
}
.nav-item {
    justify-self: center;
    align-self:center;
}

.banner {
    grid-column: span 4;
    display: grid;
    grid-auto-rows: minmax(20vh, 30vh);
    background: aquamarine no-repeat center url("images/banner-big.jpg");
    background-size: cover;
}
main {
    grid-column: span 4;
}